
<div class="cont">

    <div class="container" >

        <form  [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="useremail" class="form-label">User email:</label>
                <input type="email" class="form-control" id="useremail" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Contraseña:</label>
                <input type="password" class="form-control" id="password" placeholder="******">
            </div>
        </form>

    </div>


</div>

